.Footer-Box{
    color: #F4FFFD;
    background-color: #1D1E2A;
    padding-top: 0.5rem;
    position: static;
    bottom: 0;
    width: 100%;
    padding-bottom: 0.5rem;
    margin-bottom: 0rem;
}

.Footer{
    width: 100vw;
}

.Footer-Link{
    padding: 0.1rem;
}

.Lowest-Footer-Box{
    color: #7F7F7F;
    padding-top: 0.2rem;
}
