.Impressum-Div{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-top: 1.5rem;
}

.Impressum-Card{
    margin: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
}