.UserProfile-Button{
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top:1rem;
    margin-bottom:1rem;
    margin-left: 1rem;
}

.UserProfile-Headline{
    margin-top:1rem;
    margin-bottom:1rem;
    margin-left: 1rem;
}